@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /* Lato (Regular) */
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap'); /* Charmonman (Bold) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /* Montserrat (Regular + Bold) */
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap'); /* Montez (Regular) */

:root {
  /* Colors */
  --bg-primary: #D8E3E7;
  --bg-secondary: #EEEEEE9C;
  --bg-tertiary: #DEF5FE;
  --bg-navbar: #ADD0D8;
  --bg-button: #132C33;
  --bg-button-hover: #1a3e49;
  --bg-button-red: #b30c0c;
  --bg-loader: '#2C6778';
  --bg-button-red-hover: #dd3737;
  --bg-button-white: #D8E3E7;
  --bg-button-white-hover: #bbc6ca;
  --text-primary: #333;
  --text-secondary: #474747;
  --text-navbar: #215c6d;
  --text-loader: #2C6778;
  --bg-violet: #a586ff;
  --bg-button-blue: #91D7E8;
  --bg-button-grey: #0000001a;
  --bg-button-grey-hover: #00000010;

  /* Other */
  --grad-pink: linear-gradient(180deg, rgb(239, 93, 168, 1) 0%, rgba(18, 110, 130, 1) 100%);
  --grad-pink-inv: linear-gradient(0deg, rgb(239, 93, 168, 1) 0%, rgba(18, 110, 130, 1) 100%);
  --grad-orange: linear-gradient(180deg, rgba(255, 134, 134, 1) 0%, rgba(18, 110, 130, 1) 100%);
  --grad-violet: linear-gradient(180deg, rgba(165, 134, 255, 1) 0%, rgba(18, 110, 130, 1) 100%);

  --shadow-button: 0px 2px 4px rgba(0, 0, 0, 0.25);

  /* Fonts */
  --font-primary: Montserrat, sans-serif;
  --font-secondary: Lato, sans-serif;
  --font-tertiary: Charmonman, sans-serif;
  --font-quaternary: Montez, sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body {
  font-family: var(--font-primary);
  color: var(--text-primary);
  overflow-x: hidden;
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  outline: none;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

select, input {
  font: inherit;
  color: inherit;
}